.LandingPage {
  background-image: url("../photos/WEB BACKGROUND.png");
  background-size: cover;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 19px;
  padding-bottom: 20rem;
}
.LP-header-plus-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.LP-header {
  font-size: 4rem;
  z-index: 1;
}
.LP-messages {
  width: 89%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.LP-image-1, .LP-image-2 {
  max-width: 21rem;
}

.cat-logo {
  width: 10rem;
  opacity: 0.5;
  position: fixed;
}