.LandingPage {
  background-image: url("../photos/WEB BACKGROUND.png");
  background-size: cover;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 19px;
  padding-bottom: 20rem;
}
.LP-header-plus-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.LP-header {
  font-size: 4rem;
  z-index: 1;
}
.LP-messages {
  width: 89%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.LP-image-1, .LP-image-2 {
  max-width: 21rem;
}
.LP-image-1, .LP-image-2:hover {
  cursor: pointer;
  color: rgb(44, 81, 44)
}

.cat-logo {
  width: 10rem;
  opacity: 0.5;
  position: absolute;
}
.LP-subscribe {
  font-size: 3rem;
  background-color: #315036;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid #eae129ba;
  margin-bottom: 4rem;
  width: auto; /* This will make the button only as wide as its content */
  display: inline-block;
}
.LP-subscribe:hover {
  cursor: pointer;
  background-color: #4e8457;
  color: black;

}