.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  flex-direction: column;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: black;
  display: flex;
  align-items: flex-start;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.message-header {
  color:white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  position: fixed;
  top: 3%;
  left: 30px;
  width: 8%;
}
.nav-bar {
  display: flex;
  column-gap: 2rem;
  padding-right: 3%;
  font-size: larger;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: -5rem;
}
.logo-name {
  position: relative;
  top: 52px;
  padding-left: 1%;
}
.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.haircut-photo {
  width: 100%;
    height: auto;
    position: relative;
    top: -1rem;
}

.overlay {
  position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.logo-ontop {
  position: absolute;
    z-index: 1;
    width: 22%;
    top: 5rem;
}
.message-ontop {
  position: absolute;
  background-color: black;
  color: white;
  width: 17rem;
  border-radius: 1rem;
  top: 61%;
  font-size: x-large;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-message {
  color: black;
  z-index: 2;
  /* border-bottom: 3px solid; */
  width: 100%;
  position: absolute;
  top: 74%;
  background-color: white;
  height: 27%;
  /* DISPLAY: FLEX; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
}
.third-message {
  z-index: 3;
    position: absolute;
    top: 97%;
    width: 81%;
    background-color: white;
    font-size: larger;
}