
@font-face {
  font-family: 'MyCustomFont';
  src: url('./fonts/BRBRURS0.TTF') format('truetype');
}

body {
  font-family: 'MyCustomFont', Fallback, sans-serif;
}
.App {
  display: flex;
    flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
    flex-direction: row;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: black;
    display: flex;
    align-items: center;
    padding-left: 2%;
    padding-top: 1%;
    column-gap: 1%;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.message-header {
  color:white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 8%;
}
.logo-name {
  font-size: 100%;
}
.nav-bar {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 27%;
    font-size: 108%;
    column-gap: 11%;
    position: absolute;
    /* left: 36%; */
    right: 0;
}

.logo-navbar {
  display: flex;
  align-items: center;
}

.logo {
  width: 8%;
}

.logo-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.haircut-photo {
  width: 100%;
    position: relative;
    top: 2rem;
}

.overlay {
  position: absolute;
  top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.logo-ontop {
  position: absolute;
    z-index: 1;
    width: 22%;
    top: 5rem;
}
.message-ontop {
  position: absolute;
    background-color: black;
    color: white;
    width: 22%;
    border-radius: 1rem;
    top: 58%;
    font-size: 156%;
    height: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.second-message {
  color: black;
  z-index: 2;
  /* border-bottom: 3px solid; */
  width: 100%;
  position: absolute;
  top: 72%;
  background-color: white;
  height: 27%;
  /* DISPLAY: FLEX; */
  display: flex;
  justify-content: center;
  font-size: 181%;
  padding-top: 6%;
}
.third-message {
  z-index: 3;
    position: absolute;
    top: 101%;
    width: 81%;
    background-color: white;
    font-size: 132%;
    text-align: center;
}
.line-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid black; /* adjust color as needed */
}

.middle-icon {
  padding: 0 20px;
    width: 4%;
    position: absolute;
    top: 90%;
    z-index: 5;
}
.line-one, .line-two {
  z-index: 7;
  background-color: black;
  width: 40%;
  height: 2px;
  position: absolute;
  top: 93%;
}
.line-one {
  left: 6%;
}
.line-two {
  right: 6%;
}
.below-haircut-photo {
  display: flex;
    flex-direction: column;
    align-items: center;
}
.barbers {
  display: flex;
  flex-direction: row;
  /* width: 100vw; */
  justify-content: center;
  padding-top: 8rem;
}
.barber-photo-one, .barber-photo-two {
  width:50vw
}
.barber-overlay {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
.barber-container {
  position: relative;
}
.barber-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 2rem; /* adjust size as needed */
  z-index: 2; /* ensure the text is above the overlay */
}
.barber-overlay:hover {
  background: rgba(121, 196, 224, 0.411);
}
.carousel {
  display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top: -4px;
    z-index: 4;
}

.carousel-photo {
  flex: 0 0 auto;
  width: 40vw; /* makes each photo take up the full viewport width */
  scroll-snap-align: start; /* aligns each photo to the start of the carousel */
}
.carousel-photo-container {
  position: relative;
}


.carousel-text {
  position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 108%;
    background-color: #af0909b3;
    padding: 0%;
    border-radius: 10px;
    width: 72%;
    text-align: center;
}
.shop-image {
  width: 100%;
    position: relative;
    bottom: 4px;
}
.shop-image-container {
  position: relative;
}
.shop-text-one {
  color: white;
  font-size: 246%;
}
.shop-text-two {
  color:red;
}
.shop-text-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 11%;
  z-index: 7;
  top: 25%;
  row-gap: 1rem;
  background: linear-gradient(to bottom, #ff000063, #443e3e);
  padding: 1rem;
  border-radius: 1rem;
}
.map-container {
  position: relative;
  z-index: 99;
}

.map {
  width: 50%;
  height: auto;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.maps-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height:99%;
  background: rgba(0, 0, 0, 0); /* transparent by default */
  transition: background 0.5s; /* smooth transition */
  border-radius: 1rem;
}

.map-container:hover .maps-overlay {
  background: rgba(187, 177, 177, 0.5); /* grey with 50% opacity on hover */
  border-radius: 1rem;
}
.map-line {
  height: 5rem;
  width: 3px;
  background: white;
  margin: 0 10px;
}
.map-modal {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 29%;
  align-items: center;
  left: 12%;

}
.map-info-social {
  display: flex;
    flex-direction: row;
    align-items: center;
}
.info {
  position: relative;
    right: 34%;
    width: 25%;
}
.social {
  position: absolute;
    width: 28%;
    left: 66%;
}
.Tab {
  border-right: 2px solid;
    padding: 3%;
}
.Tab:hover {
  background-color: rgba(255, 0, 0, 0.394);
  transition: background 0.5s;
}

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .nav-bar {
    flex-direction: row;
        width: 24%;
        display: flex;
        position: absolute;
        right: 0;
        padding-right: 47%;
  }
  .logo {
    width: 8%;
  }
}


@media (max-width: 667px) {

  .nav-bar {
    flex-direction: row;
    width: 24%;
    display: flex;
    position: absolute;
    right: 0;
    padding-right: 51%;
  }

}
@media (max-width: 480px) {
  .message-header {
    font-size: 84%;
  }
  .nav-bar {
    flex-direction: row;
    display: flex;
    font-size: 1%;
    width: 1%;
    position: absolute;
    right: 0;
    column-gap: 14px;
    padding-right: 77%;
  }

  .logo {
    width: 11%;
    position: relative;
    left: 4%;
  }
  .logo-name {
    font-size: 15px;
    position: absolute;
    top: 6%;
    left: 3%;
  }
  .message-ontop {
    position: absolute;
    background-color: black;
    color: white;
    width: 38%;
    border-radius: 1rem;
    top: 59%;
    font-size: 83%;
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo-ontop {
    position: absolute;
    z-index: 1;
    width: 22%;
    top: 18%;
  }
  .line-one, .line-two {
    top: 110%;
  }
  .middle-icon {
    top: 107%;
  }
  .second-message {
    color: black;
    z-index: 2;
    /* border-bottom: 3px solid; */
    width: 100%;
    position: absolute;
    top: 83%;
    background-color: white;
    height: 27%;
    /* DISPLAY: FLEX; */
    display: flex;
    justify-content: center;
    font-size: 134%;
    padding-top: 6%;
  }
  .third-message {
    z-index: 3;
    position: absolute;
    top: 118%;
    width: 83%;
    background-color: white;
    font-size: 78%;
    text-align: center;
  }
  .barber-text {
    font-size: 100%;
  }
  .carousel-text {
    font-size: 28%;
    width: 89%;
  }
  .shop-text-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 11%;
    z-index: 7;
    top: 17%;
    row-gap: 16%;
    background: linear-gradient(to bottom, #ff000063, #443e3e);
    padding: 1rem;
    border-radius: 1rem;
    width: 18%;
    height: 22%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .shop-text-one {
    color: white;
    font-size: 85%;
  }
  .shop-text-two {
    color: red;
    font-size: 18%;
    width: 104%;
  }
  .social {
    width: 29%;
    left: 66%;
  }
}
@media (width:1024px) {
  .nav-bar {
    padding-right: 33%;
  }
}